.mymodal-modal-reserved-appointment {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 10px 0px 30px 150px;
    display: flex;

  }
  
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .search-container{
    /* z-index: 2; */
    background-color: white;
    color: black;
    border: 1px solid #CCC;
}
.search-container li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.search-container ul{
    padding-left: 9px ;
    /* margin: 0px; */
}